<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href = "{{ url_for('static', filename='style.css') }}">

{# Jinja templates use {% ... %} for expressions or logic (like for loops).
    {{ ... }} is used for outputting the results of an expression or a
    variable to the end user. The latter tag, when rendered, is replaced with a
    value or values, and is seen by the end user.
#}

<nav>
    <h1>Flaskr</h1>
    <ul>
        {% if g.user %}
            <li><span>{{ g.user['username'] }}</span>
            <li><a href = "{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
            <li><a href = "{{ url_for('auth.register') }}">Register</a>
            <li><a href = "{{ url_for('auth.login') }}">Log In</a></li>

    </ul>
</nav>